<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update employee</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/manage/employees/{id}(id=${com.warehouse.warehousespringboot.models.Employee.getId()})}" th:object="${com.warehouse.warehousespringboot.models.Employee}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:blueviolet" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="surname">Enter surname: </label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <div style="color:blueviolet" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</div>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:blueviolet" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    <br/>
    <label for="phone_number">Enter phone number: </label>
    <input type="text" th:field="*{phoneNumber}" id="phone_number"/>
    <div style="color:blueviolet" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone number Error</div>
    <br/>
    <label for="position">Select position: </label>
    <input type="text" th:field="*{position}" id="position"/>
    <div style="color:blueviolet" th:if="${#fields.hasErrors('position')}" th:errors="*{position}">Position Error</div>
    <br/>
    <input type="submit" value="Update"/>
</form>

</body>
</html>